@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  src: url("assets/fonts/NotoSansCJKkr-Bold.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  src: url("assets/fonts/NotoSansCJKkr-Medium.otf") format('truetype')
}